
body{
	font-family: Euphemia;

}
.Title{
	border: 1px solid black;
	width: 335px;
	height: 70px;
	margin-left: 30%;
	margin-right: 30%;
	padding-left: 265px;
	padding-top: 30px;
	font-size: 35px;
}
.Submit{
	width: 49.33%;
	height: 70px;
	border-style: none;
	border: 1px solid black;
	border-top: none;
	background-color: white;
	outline: none;
}
#Login{
	border-left: none;
	border-right-color:white; 
	border-bottom-color:white;

}
#Register{
	border-right: none;
}
.Submit:hover{
	background-color: black;
	color:white;
}
.Panel{
	float:none;
	background-color:white;
	width: 600px;
	height:500px;
	margin-left: 30%;
	margin-top: 5%;
	border: 1px solid black;
	border-radius: 3px;
}
.Login{
	width: 200px;
	height: 85px;
	margin-top: 5%;
	margin-left: 7%;
}
.Register{
	margin-left: 55%;
	margin-top: -14%;
}
.TextBox{
	border-radius: 5px;
	font-size:18;
	margin-top: 5px;
	width: 220px;
	height: 50px;
}

#SubmitButton{
	border-radius: 5px;
	float: 0;
	margin-top: 15%;
	width: 150px;
	height: 50px;
	margin-left: 7%;
	background-color: white;
} 

#SubmitButton:hover{
	background-color: black;
	color:white;
	cursor: pointer;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(0, 0, 0, 1);
}

input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(0, 0, 0, 1);
}